body{
    font-family: sans-serif;
}
.add-to-cart{
    border-bottom: 50px;
}
.uptate-cart{
    border-bottom: 50px;
}
.div{
    display: block;
}

.products{
    display:flex;
    flex-direction: column;
}

@media(min-width:361px){
    .descripcion{
        display: block;
    }
}
.main-article{
    display:block;
    border-bottom: 15%;
}