*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .header-carrito{
        text-align: center;
        background-color: beige;
    }
    .contenedor{
        margin: auto;
        display: flex;
        background-color: beige;
    }
    .carrito-items{
        gap:1em;
        grid-gap: 10px;
        grid-row-gap: 15px;
        transition: 3s;
        padding: 4%;
        margin: auto;
        border: 2px solid #666;
        border-radius: 20px;
        transition: 3s;
    }
    .carrito-item{
        display:flex;
        margin-bottom: 30px;
        box-shadow: 0 0 10px #666;
        border-radius: 20px;
        flex-direction:row;
        padding: 15px;
        align-items: center;
        justify-content: space-between;
    }
    .carrito-item-titulo{
        display: block;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
    }
    .carrito-item-precio{
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 22px;
    }
    .carrito-img{
        display: flex;
        width: 250px;
        height: 250px;
        align-items: center;
        top: 0;
        left: 250px;
        padding-bottom: 15px;
    }
    .total{
        padding: 4%;
        display: flex;
        border: 1px solid #666;
        justify-content: space-between;
    }