*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .header-carrito{
        text-align: center;
        font-family: 'lato', sans-serif;
    }
    main{
        background-color: beige;
    }
    .contenedor{
        margin: auto;
        display: flex;
    }
    .carrito-items{
        gap:1em;
        grid-gap: 10px;
        grid-row-gap: 15px;
        align-items: center;
        width: 100%;
        transition: 5s;
        padding: 4%;
    }
    .carrito-item{
        display:flex;
        margin-bottom: 20px;
        box-shadow: 0 0 15px #474545;
        border-radius: 20px;
        flex-direction:row;
        padding: 15px;
        align-items: center;
        overflow: hidden;
        justify-content:space-between;
    }
    .carrito-item-titulo{
        display: block;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
    }
    .carrito-item-precio{
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color:#ff5722;
    }
    .carrito-img{
        display: flex;
        width: 160px;
        height: 160px;
        align-items: center;
        left: 200px;
    }
    .total{
        display: flex;
        padding: 1%;
        margin-top: 20px;
        justify-content: space-between;
        background-color: #9d9c9c;
        border-radius: 15px;
    }
    .styled{
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: #f76b33;
        background-image: linear-gradient(to top left,
        rgb(0 0 0 /20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
        );
        box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 60%),
        inset -2px -2px 3px rgb(0 0 0 / 60%);
    }
    
    .styled:hover {
      background-color: #ff5722;
    }
    
    .styled:active {
      box-shadow:
        inset -2px -2px 3px rgb(255 255 255 / 60%),
        inset 2px 3px 3px rgb(0 0 0 / 60%);
    }
    .modo-pago{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pay-icon{
    padding-top: 20px;
    font-size: 25px;
    }

    @media (max-width:460px){
        .carrito-item{
            flex-direction: column;
        }
    }