* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Titulo   #FFF8E3 */
.titulo {
    background-color: #FFF8E3;
}

.titulo h1 {
    background-color: white;
    font-size: 30px;
    padding: 25px 0;
    height: auto;
    text-align: center;
    box-shadow: 0 5px 19px rgba(0, 0, 0);
    margin-top: 10px;
}

.titulo .caja-img {
    background-color: white;
<<<<<<< HEAD
    box-shadow: 0 8px 8px rgba(0, 0, 0); 
    margin: auto;
=======
    overflow: hidden;
    box-shadow: 0 8px 8px rgba(0, 0, 0); 
    transition: all .5s;
    margin: 20px 30px 30px 130px;
    padding: 10px 10px 10px 20px;
>>>>>>> b432455cdc3ad0d5c2eb0d3adf1da27d091ec375
}
.caja-img figure{
    overflow: hidden;
    margin: 10px 10px 10px 0px;
}

.titulo .caja-img p {
    margin: 10px;
 justify-content: center;
    font-weight: bold;
    font-size: 1em;
    color: #ccc;
}


article {
    background-color: #ff5722;
    display: flex;
    gap: 5px;
    margin: 0px;
<<<<<<< HEAD
    flex-direction: column;
=======
>>>>>>> b432455cdc3ad0d5c2eb0d3adf1da27d091ec375
}

.descripción {
    background-color: white;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 8px 8px rgba(0, 0, 0);
<<<<<<< HEAD
    margin: 100px 60px;
=======
    margin: 20px 0px 30px 80px;
>>>>>>> b432455cdc3ad0d5c2eb0d3adf1da27d091ec375
    padding: 10px 10px 10px 20px;
}

.descripción h2 {
    background-color: black;
    overflow: hidden;
    font-size: 17px;
    color: white;
    padding: 20px;
    margin: 20px;
}

.descripción ul {
    font-weight: bold;
    font-size: 23px;
    text-align: justify;
    margin: 0 25px;
}

.descripción h3 {
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 40px;
    padding: 10px;
}

button {
    font-size: 20px;
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
    color: antiquewhite;
    background-color: #FF5722;
    cursor:pointer;
}

button:hover {
    background-color: #9F3919;
}

.descripción2 {
    background-color: white;
    text-align: center;
<<<<<<< HEAD
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.1); 
=======
    margin: 100px 100px 100px 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.1);      
>>>>>>> b432455cdc3ad0d5c2eb0d3adf1da27d091ec375
}

.titulo .descripción2 p6 {
    text-align: center;
    font-size: 30px;
<<<<<<< HEAD
    padding: 80px;   
=======
    font-weight: bold;
>>>>>>> b432455cdc3ad0d5c2eb0d3adf1da27d091ec375
}

.titulo .descripción2 ul {
    text-align: center;
    font-size: 25px;
    padding: 80px;

}

<<<<<<< HEAD
.site-footer{
    width: auto;
}

@media(max-width: 368px){
    .titulo{
        width: 110%;
=======
@media (max-width:460px){
    .carrito-item{
        flex-direction: column;
>>>>>>> b432455cdc3ad0d5c2eb0d3adf1da27d091ec375
    }

    .site-footer{
        width: 110%;
    }

    .descripción {
        width: 90%;
        margin: 50px auto;
    }


}


